<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
<link href='/style.css' rel='stylesheet'>
<link href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch&display=swap" rel="stylesheet">
<title>Counter Culture Records | <%=tabTitle%></title>
