<header>
  <% if (currentUser) { %>
    Welcome, <%= currentUser.username %><br>
    <form action='/sessions?_method=DELETE' method='POST'>
      <input type='submit' value='Log Out'>
    </form>

    <% } else { %>
      <a href='/users/new'>Sign Up</a><br>
      <a href='/sessions/new'>Log In</a>

  <% } %>
</header>
