<div class='top'>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
<header>
  <div class='main'>
    <div class='new'>
  <h1>Counter Culture <i>Records</i></h1>
    </div>
  <div class='new' id='top'>
  <% if (currentUser) { %>
    Hello, <%= currentUser.username %>
    <form action='/sessions?_method=DELETE' method='POST' class='none'>
      <input type='submit' value='Log Out'>
    </form>

    <% } else { %>
      <a href='/users/new'>Sign Up</a>| |<br>
      <a href='/sessions/new'>Log In</a>

  <% } %>

  </div>
  </div>
</header>
