<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    index route<br>
    <a href='/recordstore/new'>Make New</a><br>
    <% for(let i=0; i<item.length; i++) { %>
      <a href='/recordstore/<%=item[i].id%>'><%=item[i].band %></a>
      <img src='<%=item[i].image%>'>
    <% } %>
  </body>
</html>
