<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../partials/head.ejs') %>
  </head>
  <body>
    <%- include ('../partials/header.ejs') %><br>
<div class='container'>
    <form action='/recordstore/' method='POST'>
      Name of Band: <input type='text' name='band' required><br>
      Name of Album: <input type= 'text' name='album'><br>
      Genre: <select id='genre' name='genre' required>
                <option value='metal' id='metal'>Metal</option>
                <option value='punk' id='punk'>Punk</option>
                <option value='hardcore' id='hardcore'>Hardcore</option>
                <option value='hiphop' id='hiphop'>Hip Hop</option>
                <option value='classic' id='classic'>Classic</option>
                <option value='other' id='other'>Other</option></select><br>
      Description: <input type='text' name='description'
      placeholder='color/condition/etc'><br>
      Image URL: <input type='text' name='image'><br>
      Price <i>(USD)</i>: <input type='text' name='price' required><br>
      Seller: <input type='text' name='seller'
      placeholder='email@example.com' required><br>
      <input type='submit' value='Post Item'>
    </form>
</div><br>
  <nav class='main'>
      <a href='/recordstore#top'>Back To Main Page</a>
  </nav>
<br><br>
    <%- include ('../partials/footer.ejs') %>
  </body>
</html>
