<!-- could not get search functions to work

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../../partials/head.ejs') %>
  </head>
  <body>
    <%- include ('../../partials/header.ejs') %>
<h3>Search <i>Records</i></h3>
<br>

<nav class='main'>
  <a href='#top'>Back To Top</a>
<a href='/recordstore#top'>Back To Main Page</a>
</nav>
<br><br>
    <%- include ('../../partials/footer.ejs') %>
  </body>
</html> -->
