body {
  background: black;
  font-family: 'Grenze Gotisch', cursive;
  color: ivory;
}
a {
  color: gold;
  text-decoration: none;
  text-align: center;
}
input {
  background: ivory;
}
a:hover {
  color: red;
}
input:hover, select:hover {
  background: red;
}
img {
  width: 50%;
  height: auto;
  border: 1px solid gold;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.new{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  margin: 0;
  padding: 0;

}
.item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin: .5em;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-size: 25px;
}
.none {
  border: none;
  padding: 0;
}
.top {
  background-image: url(https://i.imgur.com/GV2mcm1.jpg?2);
  background-size: cover;

}
.bottom {
    background-image: url(https://i.imgur.com/uhfDwoq.jpg?2);
    background-size: cover;

}
.randomImg {
  width: 25%;
}
.placeholder {
  color: gray;
}
i {
  color: red;
}
form {
  text-align:left;
  border: 1px solid gold;
  padding: 1rem;
}
h1 {
padding: 0;
margin: -1rem 0 0 0;
border-bottom: 1px solid ivory;
}
h2, h3{
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
span {
  text-align: left;
  font-size: 20px;
}
header, footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
  margin: 0 auto;
}
#ivory {
  color: ivory;
}
#ivory:hover {
  color: red;
}
#out, #delete, #submit, #post {
  cursor: pointer;
}
#ben {
  font-size: 25px;
}

@media only screen and (max-width:650px) {
  .container {
    flex-direction: column;
  }
  .item {
    width: 100%;
  }
  .randomImg {
    width: 70%;
  }
  img {
    width: 70%;
  }
  h1 {
    font-size: 30px;
  }
}
