<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../../partials/head.ejs') %>
  </head>
  <body>
    <%- include ('../../partials/header.ejs') %><br>
    <div class='main'>
    Log In<br>
    <form action='/sessions' method='POST'>
      User Name: <input type='text' name='username'><br>
      Password: <input type='password' name='password'><br>
      <input type='submit' value='Submit'>
    </form>
    </div>
    <nav class='main'><br>
  <a href='/recordstore'>Back To Main Page</a></nav>
  <br><br>
    <%- include ('../../partials/footer.ejs') %>
  </body>
</html>
