<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include ('../../partials/head.ejs') %>
  </head>
  <body>
    <%- include ('../../partials/header.ejs') %><br>
    <div class='main'>
    Sign Up and Create an Account<br>
    <form action='/users' method='POST'>
      User Name: <input type='text' name='username' required><br>
      Password: <input type='password' name='password'><br>
      <input type='submit' value='Submit' id='submit'>
    </form>
  </div><nav class='main'><br>
  <a href='/recordstore#top'>Back To Main Page</a></nav>
  <br><br><br><br><br><br><br><br><br><br><br>
    <%- include ('../../partials/footer.ejs') %>
  </body>
</html>
